@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Code:wght@600&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Sans, Helvetica Neue, sans-serif;
  background: #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
   body {
    /* color: white; */
    /* background: #121212; */
  }
}


