.banner {
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px 30px 0px;
  min-height: 100vh;

  position: relative;
  overflow: hidden;

  background-color: #000;
  background-image: radial-gradient(at top left, #360707, transparent),
    radial-gradient(at top right, #110a55, transparent),
    radial-gradient(at bottom left, #1e839c, transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.innerContainer {
  display: flex;

  justify-content: center;
  /* width: 50%; */

  max-width: 700px;

  flex-direction: column;
  padding: 20px;

  border: 2px solid rgba(90, 90, 90, 0.2);
  background: rgba(44, 42, 42, 0.4);
  border-radius: 20px;
}
@media screen and (max-width: 400px) {
  .innerContainer {
    width: auto;
  }
}

.innerContainer > i {
  font-size: 50px;
}

.innerContainer > :first-child {
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  margin: 0;
  font-family: Oxygen, sans-serif;
}

.body > section > h3 {
  padding: 0;
  margin: 0;
}
.link {
  color: #54d4e8;
}
.link:hover {
  text-decoration: underline;
}

.contactsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contactsContainer > p {
  padding: 0;
  margin: 0px 0px 5px 5px;
}
.iconContainer {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.iconContainer > * {
  width: 50px;
  /* background-color: white; */
}
