.banner {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  border: 2px solid white;
  display: flex;

  justify-content: center;
  /* width: 50%; */

  max-width: 700px;

  flex-direction: column;
  padding: 20px;
}
@media screen and (max-width: 400px) {
  .innerContainer {
    width: auto;
  }
}

.innerContainer > i {
  font-size: 50px;
}

.innerContainer > :first-child {
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  margin: 0;
  font-family: Oxygen, sans-serif;
}

.body > section > h3 {
  padding: 0;
  margin: 0;
}
.link {
  color: #54d4e8;
}
.link:hover {
  text-decoration: underline;
}

.contactsContainer {
  display: flex;
  justify-content: space-evenly;
}

.contactsContainer > p {
  padding: 0;
  margin: 0px 0px 5px 5px;
  flex-wrap: wrap;
}
.iconContainer{
    display: flex;
    gap: 5px;
    margin: 5px;
}

.iconContainer> * {
    width: 50px;
    /* background-color: white; */
}
